@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Background styling */
body {
  background-color: #192228; /* Bluish background color */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  position: relative;
}

/* Background styling */
.background-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.05); /* Light color for watermark effect */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  pointer-events: none;
  gap: 40px; /* Adjust spacing between each translation */
}

.background-text span {
  transform: rotate(-45deg);
  margin: 0 20px;
}



.profile-container {
  background: rgba(44, 62, 80, 0.8); /* Semi-transparent glass effect */
  color: #e0e0e0;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* Glass effect */
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.profile-title {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-label {
  font-size: 10px;
  text-align: left;
  color: #b0b0b0;
  margin-bottom: 5px;
}

.profile-input {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #34495e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.create-account-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
  transition: background-color 0.3s;
}

.create-account-button:hover {
  background-color: #2980b9;
}

/* Side content */
.side-content {
  position: absolute;
  top: 50%;
  left: 80%;
  right:80%;
  color: #ffffff;
  font-size: 25px;
  width: 150px;
  transform: translateY(-50%);
  text-align: center;
}

.left-content {
  left: 30px;
  animation: slideInLeft 2s ease-out;
}

.right-content {
  right: 10px;
  animation: slideInRight 1s ease-out;
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}
